<div class="row">
  <div class="col-md-6">
    <a [routerLink]="['/user/'+id]" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Torna ai Dettagli</a>
  </div>
  <div class="col-md-6">

  </div>
</div>
<div class="card">
  <div class="card-header">
    Modifica Utente
  </div>
  <div class="card-block">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="firstName">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="client.name" name="name">
      </div>
      <div class="form-group">
        <label for="firstName">Username</label>
        <input type="text" class="form-control" [(ngModel)]="client.username" name="usernname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="client.email" name="email">
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" [(ngModel)]="client.telephone" name="telephone">

      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </form>
  </div>
</div>
